IO_LOC "clk"       4;
IO_PORT "clk"      IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "rst_n"     41;
IO_PORT "rst_n"    IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "MOSI"      25;
IO_PORT "MOSI"     IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "MISO"      26;
IO_PORT "MISO"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "SCK"       77;
IO_PORT "SCK"      IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "CS"        48;
IO_PORT "CS"       IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "servo_pwm" 73;
IO_PORT "servo_pwm" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led_debug" 15;
IO_PORT "led_debug" IO_TYPE=LVCMOS33 DRIVE=8;